@{
  Layout = "_Layout";
}
<div class="card mx-auto">
  <h1>Hello Pierre!</h1>
  <h2>Welcome to your <em>custom</em> ordering system</h2>
  <br>
  <p><a href="/vendors">Show List of Vendors</a> ~~~ <a href="/vendors/new">Add new Vendor!</a></p>
</div>