<h1>Hello Pierre!</h1>
<h3>welcome to your <em>custom</em> ordering system</h3>

<button class ="btn"><a href="/vendors">Show List of Vendors</a></button>
<button class ="btn"><a href="/vendors/new">Add new Vendor!</a></button>