@{
  Layout = "_Layout";
}
<h1>Hello Pierre!</h1>
<h2>welcome to your <em>custom</em> ordering system</h2>

<button class ="btn"><a href="/vendors">Show List of Vendors</a></button>
<button class ="btn"><a href="/vendors/new">Add new Vendor!</a></button>