body{
  background: url("../img/bakerybg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
  background: url("../img/containerbg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
text-align: center;
margin-top:5%;
width:80vw;
min-height: 80vh;
overflow: hidden;
filter: drop-shadow(30px 10px 4px hsla(240, 6%, 22%, 0.608));
border-radius:25px;
}

h1{
  font-family: 'Dancing Script', cursive;
  font-style:bold;
  color:whitesmoke;
}

h2,h3,h4,p,li{
  font-family: 'Raleway', sans-serif;
  text-shadow: black;
  color:whitesmoke;
}
div#footer {
  text-align:center;
  position:fixed;
  bottom:0px;
  left:0px;
  background-color:hsl(15, 60%, 56%);
  padding:15px;
  width:100%;
}
ul{
  list-style-type:none;
  font-style: bold;
}
.card{
background-color: rgba(180, 90, 74, 0);
width:60%;
margin:5%;
padding:5%;
}
a{
  color:whitesmoke;
  text-decoration: underline;
}