@{
  Layout = "_Layout";
}
<div class="card mx-auto">
  <h1>Order Details:</h1>
  <h4>@Model["order"].Description</h4>

  <p>@Model["order"].Quantity ordered</p>
  <p>$@Model["order"].Price</p>
  <p> Delivery: @Model["order"].Date</p>

</div>